.contact { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 80px; margin: 80px 170px; margin-top: 160px; }
.contact-title { position: relative; text-align: center; }
.contact-title h1 { padding: 0px 30px; font-size: 70px; font-weight: 600; color: var(--title-color); }
.contact-title img { position: absolute; bottom: 0; right: 0; z-index: -1; }
.contact-section { display: flex; gap: 150px; }
.contact-left { display: flex; flex-direction: column; gap: 30px; }
.contact-left h1 { font-size: 60px; font-weight: 700; background: linear-gradient(270deg, var(--gradient-start) 0%, var(--gradient-end) 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.contact-left p { max-width: 550px; color: var(--text-color); font-size: 20px; line-height: 1.6; }
.contact-details { display: flex; flex-direction: column; gap: 30px; color: var(--text-color); font-size: 22px; }
.contact-detail { display: flex; align-items: center; gap: 20px; }
.contact-detail img { width: 35px; height: 35px; filter: var(--icon-filter); }
.contact-right { display: flex; flex-direction: column; align-items: flex-start; gap: 30px; }
.contact-right label { color: var(--text-color); font-size: 22px; font-weight: 500; }
.contact-right input, .contact-right textarea { width: 700px; border: none; border-radius: 4px; background: var(--input-bg); padding: 25px; color: var(--text-color); font-size: 20px; font-family: inherit; }
.contact-right textarea { width: 650px; }
.contact-submit { border: none; color: white; border-radius: 50px; background: linear-gradient(267deg, var(--gradient-start) 0.36%, var(--gradient-end) 102.06%); font-size: 22px; padding: 20px 60px; margin-bottom: 50px; cursor: pointer; transition: 0.3s; }
.contact-submit:hover { transform: scale(1.1); }
.contact-detail a { display: flex; align-items: center; gap: 20px; color: var(--text-color); text-decoration: none; transition: color 0.3s; }
.contact-detail a:hover { color: var(--gradient-end); }

@media(max-width: 768px){
    .contact { margin: 50px 30px; gap: 50px; }
    .contact-title h1 { font-size: 50px; padding: 0;}
    .contact-title img { width: 130px; right: -20px; }
    .contact-section { flex-direction: column; }
    .contact-left h1 { font-size: 55px; }
    .contact-left p { font-size: 18px; }
    .contact-right { width: 100%; }
    .contact-right label { font-size: 20px; }
    .contact-right input, .contact-right textarea { width: 100%; box-sizing: border-box; }
}
